@font-face {
    font-family: AvenirNextW10-Medium; 
	src: url('../fonts/AvenirNextW10-Medium.otf');
    src: url('../fonts/AvenirNextW10-Medium.otf') format('truetype');  
   }
@font-face {
    font-family: AvenirNextW10-Light;
	src: url('../fonts/AvenirNextW10-Light.otf');
    src: url('../fonts/AvenirNextW10-Light.otf') format('truetype');  
   }
@font-face {
    font-family: AvenirNextW10-Book;
	src: url('../fonts/AvenirNextW10-Book.otf');
    src: url('../fonts/AvenirNextW10-Book.otf') format('truetype');  
   }  
@font-face {
    font-family: AvenirNextW10-Heavy; 
	src: url('../fonts/AvenirNextW10-Heavy.otf');
    src: url('../fonts/AvenirNextW10-Heavy.otf') format('truetype');  
   }
@font-face {
    font-family: AvenirNextW10-HeavyBold; 
	src: url('../fonts/AvenirNextW10-HeavyBold.otf');
    src: url('../fonts/AvenirNextW10-HeavyBold.otf') format('truetype');  
   }
@font-face {
    font-family: AvenirNextW10-Demi; 
	src: url('../fonts/AvenirNextW10-Demi.otf');
    src: url('../fonts/AvenirNextW10-Demi.otf') format('truetype');  
   } 
@font-face {
    font-family: PT-Sans; 
	src: url('../fonts/PT-sans.ttf'); 
   } 
@font-face {
    font-family: Izhitsa; 
	src: url('../fonts/IzhitsaC.otf');
    src: url('../fonts/IzhitsaC.otf') format('truetype');  
   } 
*{
    outline: none;
} 
html {
    overflow-y: scroll;
} 
body {
	font-size: 15px; 
	background: #fff;
	color: #2b2929;
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.bg-site {
	background: url(../images/bg.jpg) repeat top left;
	width: 100%;
}
a  {
	color: #844220;
} 
a:hover  {
	color: #723110;
	text-decoration: none;
}  
a:focus  {
	color: #8d3000;
	text-decoration: none;
}   
h1 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 30px;
	  font-size: 30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-shadow: 0 0 0;
}
.header {
	background: url(../images/bg.jpg) repeat top left;
	width: 100%;
	min-height: 470px;
}
.header.inheader { 
	min-height: 285px;
}
.contact-intro, .contacts
{
    margin-bottom:20px;
}
.contact-intro
{
    font-weight:bold;
    }
.main-nav {
	background: #472512;
	min-height: 60px;
	font-family: 'AvenirNextW10-Demi', sans-serif;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 50px;
	padding: 5px 0;
}
.navbar-header  {
	width: 100%;
}
.navbar {
	margin-bottom: 0px; 
}
.main-nav a {
	color: #fbfefe;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
.main-nav .nav > li > a:hover, .main-nav .nav > li > a:focus {
	color: #e6d796;
}
.navbar-right {
	margin-right: 0px;
}
.logo {
	background: url(../images/logo.png) no-repeat top left;
	width: 235px;
	height: 176px;
}
.title a {
	color: #472512;
}
.title {
	font-family: 'AvenirNextW10-HeavyBold', sans-serif;
	font-size: 36px;
	margin: 22px 0 0;
	font-weight: 700;
}
.btn {
    padding: 15px 0px;
}
.title span {
	display: block;
	font-family: 'AvenirNextW10-Demi', sans-serif;
	font-size: 18px;
}
.basket {
	background: url(../images/basket.png) no-repeat top left;
	width: 48px;
	height: 44px; 
	float: left;
    margin-right: 15px
}
.basket-sm {
	background: url(../images/basket-sm.png) no-repeat top left;
}
.keys, .lock {
	width: 27px;
	height: 27px; 
	float: left;
	margin-right: 12px;
	position: relative;
	top: -3px
}
a:hover .keys, a:hover .lock {
	background-position: 0 -27px
}
p {
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.lock {
	background: url(../images/lock.png) no-repeat top left;
}
.keys {
	background: url(../images/keys.png) no-repeat top left;
}
.cart {
	font-family: 'AvenirNextW10-Demi', sans-serif;
	font-size: 18px;
	margin: 22px 0 0;
}
.cart span {
	font-family: 'AvenirNextW10-Heavy', sans-serif;
	display: block;
}
.board-commerce{	
    top: -190px; 
	position: relative;
	z-index: 99;
}
.input-search-catalog {
	height: 60px; 
	border:0px;
	background: #fff;
	font-family: 'AvenirNextW10-Book', sans-serif;
	padding: 0 40px;
	outline-color: #472512;
	border: 2px solid #472512;
} 
.btn-search {
	background: url(../images/btn-search.png) no-repeat top #472512;
	width: 67px;
	height: 60px;
	border: 0;
	font-size: 0;
	position: absolute;
	margin: 1px;
	outline: 0px;
	right: 30px;
	padding: 11px;
	display: block;
}
.tools-commerce .row .col-lg-4 {
    width: 24%;
}
.btn-search:hover, .btn-search:focus {
	background-position-y: -60px;
}
.tools-commerce {
	background: #472512;
    width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height:  387px;
}

.tools-commerce .nav > li > a:hover, .tools-commerce  .nav > li > a:focus {
	color: #e6d796;
}
.tools-commerce .navbar-toggle {
	display: block;
	float: none;
	padding: 15px 0px 0 30px;
	width: 100%;
	margin: 0;
}
.navbar-toggle .icon-bar {
	width: 25px;
	height: 3px;
	background: #fff;
	margin-bottom: 4px;
    padding-left: 24px;
}
.sr-only {
	color: #fff;
	font-size: 18px;
	font-family: 'AvenirNextW10-Book', sans-serif;
	position: relative;
	float: right;
	width: 100%;
	height: auto;
}
.owl-theme .owl-controls {
	margin: 0px !important
}
.catalog_menu a {
	color: #fff;
}
.catalog_menu {
	font-family: 'AvenirNextW10-Book', sans-serif;
	padding: 10px 5px 10px 30px;
	border-right: 2px solid #562E18;
}
.bx_search_container {
	padding: 0px;
}
.owl-main-wrap  {
	border-left: 2px solid #472512;
	border-right: 2px solid #472512;
	border-bottom: 2px solid #472512;
}
.dropdown-menu {
  padding: 6px 0 0;
  border: 0px solid #ccc;
  background: #472512;
  border-top: 8px solid #472512;
  top: 84% !important;
}
.dropdown-menu li a {
  padding: 10px 15px;
  background: #fff;
}

.nav-commerce {
	background: #472512;
	width: 100%;
	height: auto; 
	padding-top: 15px;
	padding-bottom: 15px;
}
.nav-commerce a {
	font-family: 'AvenirNextW10-Book', sans-serif;
	color: #fbfefe;
}
.nav-commerce li span {	
	display: block;
	padding: 10px 15px;
}
.nav-commerce li span:hover, .nav-commerce li span:focus {
  color: #e6d796;
}
.modern-page-navigation { 
    margin-bottom: 40px;
}
/*
.wrap-slider-nav .col-lg-9 {
	padding-right:0px
}
.wrap-slider-nav .col-lg-3 {
	padding-left:0px
}
*/
.comments-box {
	min-height: 510px;
	padding: 40px 0;
	position: relative;
	z-index: 999;
}
.bx_content_section .product-title {
    min-height: 66px;
}
.bx_content_section .product-item {
    margin-bottom: 50px;
    display: block;
    height: 340px;
}
.comments-box .row {
	position: relative;
}
.title-section {
	font-size: 24px;
	font-family: 'AvenirNextW10-Heavy', sans-serif;
	font-weight: 700;
}
.bx_catalog_tile .bx_catalog_tile_img {
	border: 0px solid #ccc; 
}
.bx_catalog_tile .bx_catalog_tile_title {
    margin-bottom: 40px;
}
.box-section {
	margin: 50px 0;
	z-index: 9999;
	position: relative;
}
.comment-item {
	padding: 80px 0 0;
}
.autor-comment {
	font-size: 18px;
	font-family: 'AvenirNextW10-Heavy', sans-serif;
	margin: 0 0 30px;
}
.text-comment { 
	font-family: 'AvenirNextW10-Demi', sans-serif;
	text-align: justify;
	line-height: 30px;
}
/*
.border-avatar img {
	border-radius: 50%;
	border: 5px solid #844220;
}
*/
.seo-box  {
	padding: 80px;
}
.welcome {
	font-size: 24px;
	font-family: 'AvenirNextW10-Heavy', sans-serif;
	margin-bottom: 35px;
	display: block;
}
.welcome span {
	font-family: 'AvenirNextW10-HeavyBold', sans-serif;
}
.seo-box p {
	font-family: 'AvenirNextW10-Book', sans-serif;
	text-align: justify;
	line-height: 30px;
}
.seo-box p span {
	font-family: 'AvenirNextW10-Heavy', sans-serif;
}
.btn-primary {
	color: #fff;
	font-family: 'AvenirNextW10-Demi', sans-serif;
	color: #2b2929;
	background-color: #e6d796;
	border: 0;
}
.btn-primary:hover, .btn-primary:focus {
	color: #2b2929;
	background-color: #E0C964;
}
.seo-box .btn-primary  {
	font-size: 18px;
	padding: 15px 30px;
	float: right;
	margin-top:15px;
}
/*
.footer-box { 
	margin-top: -340px;
	z-index: 9;
}
*/
.legal {
	background: #472512;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: 'AvenirNextW10-Book', sans-serif;
	min-height: 60px;
	color: #fbfefe;
	padding: 25px;
}
.best-box {
      margin-top: -175px; 
}
.best-product-box, .news-product-box {
	background: url(../images/product-box-bg.png) repeat-x top left;
	width: 100%;
	min-height: 350px;
	    padding-top: 47px;
}
.ico-title-section {
	margin-right: 15px;
	display: inline-block;
}
.ico-best {
	background: url(../images/ico-best.png) repeat-x top left;
	width: 46px;
	height: 66px;
	position: relative;
	top: 24px;
}
.ico-news {
	background: url(../images/ico-news.png) repeat-x top left;
	width: 54px;
	height: 54px;
	position: relative;
	top: 18px;
}
.product-cnt-bg {
	position: absolute;
	z-index: 999;
	right: 0;
	left: 0;
	margin: auto;
	display: block;
 }
.product-img {
	position: relative;
	z-index: 9999;
}
.product-img img, .prev_text_abs {
	margin: 0 auto;
	padding: 25% 15%;
  }
.product-price {
	font-size: 24px;
	color: #2b2929;
	text-align: center;
}
.product-title {
	font-size: 16px;
	text-align: center;
		font-family: 'AvenirNextW10-Medium', sans-serif;	
	min-height: 48px;
	margin: 30px 0 15px 0;
	position: relative;
}
.link-c {
	color: #c58b00;
	  -webkit-transition: all 1000ms ease; 
  transition: all 1000ms ease; 
}
.product-item:hover .link-c {
	color: #723110;
}
.price {
	font-family: 'PT-Sans', serif;
	font-weight: bold;
}
.corner-right {
	background: url(../images/corner-right.png) repeat-x top left;
	right: 5px;
	top: 0px;
}
.corner-left {
	background: url(../images/corner-left.png) repeat-x top left;
	left: 5px;
	top: 0px;
}
.corner-right-inner {
	background: url(../images/corner-right-inner.png) repeat-x top left;
	left: 0px;
	bottom:0px;
}
.corner-left-inner {
	background: url(../images/corner-left-inner.png) repeat-x top left;
	right: 0px;
	bottom:0px;
}
.corner-footer {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
}
.bee-one {
	background: url(../images/bee-one.png) no-repeat top left;
	width: 140px;
	height: 121px;
	position: absolute;
	top: -20px;
	right: 0;
	z-index: 99;
}
.bee-two {
	background: url(../images/bee-two.png) repeat-x top left;
	width: 147px;
	height: 127px;
	position: absolute;
	top: -80px;
	right: 230px;
	z-index: 99;
}
.bee-box .row {
	position: relative;
}
.seo-text {
	background: #fff;
	height: 230px;
	width: 100%;
	position: relative;
}
.contact-footer {
	margin: 80px 0;
	line-height: 30px;
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.contact-footer .title-c {
	font-size: 17px;
	font-family: 'AvenirNextW10-Heavy', sans-serif;
	display: inline-block;
	margin-bottom: 30px;
	color: #472512;
}
.dashed {
	border-bottom: 1px dashed #472512;
	cursor: pointer;
}
.no-dashed {
	border-bottom: 0px dashed #472512;
}
.contact-footer .dashed:hover {
	color: #000;
	text-decoration: none;
}
.splash {
	display: inline-block;
	background: url(../images/splash.png) repeat-x top left;
	width: 56px;
	height: 31px;
	margin-left: 15px;
	position: relative;
	top: 11px;
}
.text-splash {
	font-size: 12px;
	text-align: right;
	margin-right: 65px;
}
a:hover .splash {
	background-position: 0 -31px;
}
a:hover .social_btn {
	opacity: 0.8;
}
.social_btn {
	margin-right: 15px;
	float: left;
}
.seo-box .btn {
	position: relative;
	z-index:999;
}
.modal {
	z-index: 104111110;
}
.modal-content {
	padding: 30px;
	background-color: #e6d796;
	border: 0px solid #999;
	border: 0px solid rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
	text-align: center;
}
.modal-content .title-con {
	font-size: 24px;
	margin-bottom:15px;
	font-family: 'AvenirNextW10-Heavy', sans-serif;
}
.modal-content .subtitle-con {
	margin-bottom:30px;
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.form-inline .form-control {
	background: transparent;
	border: 2px solid #472512;
	margin-bottom: 15px;
	height: 50px;
    width: 240px;
	text-align: center;
}
.form-inline input::-webkit-input-placeholder, .form-inline textarea::-webkit-input-placeholder {color:#472512;}
.form-inline input::-moz-placeholder, .form-inline textarea::-moz-placeholder 	     {color:#472512;}/* Firefox 19+ */
.form-inline input:-moz-placeholder,  .form-inline textarea:-moz-placeholder    {color:#472512;}/* Firefox 18- */
.form-inline input:-ms-input-placeholder,  .form-inline textarea:-ms-input-placeholder     {color:#472512;}

.modal-body .form-inline input::-webkit-input-placeholder, .modal-body .form-inline textarea::-webkit-input-placeholder {font-size:15px; color:#472512;}
.modal-body .form-inline input::-moz-placeholder, .modal-body .form-inline textarea::-moz-placeholder 	     {font-size:15px; color:#472512;}/* Firefox 19+ */
.modal-body .form-inline input:-moz-placeholder,  .modal-body .form-inline textarea:-moz-placeholder    {font-size: 15px; color:#472512;}/* Firefox 18- */
.modal-body .form-inline input:-ms-input-placeholder,  .modal-body .form-inline textarea:-ms-input-placeholder     {font-size: 15px; color:#472512;}

.form-inline input.error_input::-webkit-input-placeholder, .form-inline textarea.error_input::-webkit-input-placeholder {color:#900;}
.form-inline input.error_input::-moz-placeholder,.form-inline textarea.error_input::-moz-placeholder          {color:#900;}/* Firefox 19+ */
.form-inline input.error_input:-moz-placeholder, .form-inline textarea.error_input:-moz-placeholder     {color:#900;}/* Firefox 18- */
.form-inline input.error_input:-ms-input-placeholder, .form-inline textarea.error_input:-ms-input-placeholder      {color:#900;}

div.bx-auth-service-form {
  border-bottom: 0px
}
#modal-login .hr_line {
  border-top: 1px solid #472512;
}
.form-inline.frm .form-control {
	width: 100%;
  padding: 0 30px
}
#modal-login .neutral_link {
line-height: 30px;
	font-family: 'AvenirNextW10-Book', sans-serif;
	font-weight: normal;
	text-shadow: 0px 0px 0px;
}
.close {
  opacity: 1;
  background: #472512 !important;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: -21px;
  border-radius: 50%;
  text-shadow: 0px 0px 0px;
  color: #fff;
  border: 5px solid #e6d796!important;
}
.main-nav a:focus {
  outline: 0px;
 }
.close:hover, .close:focus {
  color: #e6d796;
  opacity: 1;
  outline: 0px;
}
.form-inline.frm .btn {
	width: 100%;
	height: 50px;
}
.error_input {
	  border: 2px solid #900 !important;
}
.btn-success {
	background-color: #472512;
	border-color: #472512;
    color: #e6d796;
}

.subscribe-box-form .btn-success {
	background-color: transparent;
	border-color: transparent;
    color: #4e4e4e;
}
.btn-success:hover, .btn-success:focus {
	background-color: #000;
	outline:0;
	border-color: #472512;
}

.bx_forgotpassword_page .bt_blue {
text-shadow: 0 0px 0 #006cae;    
color: #fbfefe; 
background: #472512; 
border-color: #2a1004;
}
.bx_forgotpassword_page .bt_blue:hover {
		background: #351202; 
	border-color: #351202;
}
.w250  input, .w250 button {
	width: 240px;
	height: 50px;
}
.subscribe-box-form {
	background: #E0C964;
	border: 2px solid #E0C964;
	font-family: 'AvenirNextW10-Demi', sans-serif;
	font-size: 18px;
	min-height: 60px;
	border-radius: 10px;
	color: #4e4e4e;
}
input.subscribe {
	border: 0px;
	background: #fff;
	font-size: 15px;
	border-radius: 0px;
	height: 56px;
}

.subscribe_btn:focus, .subscribe_btn:active {
	outline: 0px;
}
.subscribe_btn:hover, .subscribe_btn:active, .subscribe_btn:focus, .subscribe_btn:active:focus{
	background: transparent;
	color: #333;
    outline: none;
}
.subscribe_btn {
	font-size: 18px;
	color: #4e4e4e;
	border: 0px;
	height: 56px; 
}
.subscribe-box-form span {
    padding: 14px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
 }
 .modal-content iframe {
	width: 100%;
}
.dropdown:hover > .dropdown-menu { 
    display: block; 
} 
span.howa {
  color: #FBFEFE;
  cursor: pointer;
  font-family: AvenirNextW10-Book, sans-serif;
  font-size: 15px;
}
a.bx-ss-button.vkontakte-button {
  background-image: url('../images/vk.png') !important;
}
a.bx-ss-button.twitter-button {
  background-image: url('../images/twitter.png') !important;
}
a.bx-ss-button.facebook-button {
  background-image: url('../images/facebook.png') !important;
}
a.bx-ss-button.vkontakte-button, a.bx-ss-button.facebook-button, a.bx-ss-button.twitter-button {
  background-position-y: 0px !important;
  width: 50px !important;
  height: 45px !important;
}
div#bx_auth_serv_formVKontakte span, div#bx_auth_serv_formTwitter span, div#bx_auth_serv_formFacebook span {
  display: none;
}
div.bx-auth-service-form {
  background-color: #e6d796;
  display: inline-flex;
}
div#collapseCats {
  width: 848px;
  height: 336px;
  position: absolute;
  overflow: hidden; 
}
.catalog_ul {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 1000ms ease; 
  transition: all 1000ms ease;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.catalog_ul li {
  width: 33.33%;
}
.catalog_ul li a{
  font-size: 14px;
  padding: 15px 10px;
}
.bx_search_container form {
	display: inline;
    width: 100%;
}
#collapseCats.catalog_menu{
margin-left: 0;
}
.main-cnt-inner  {
background: #fff;
  position: absolute;
  z-index: 9;
  height: 230px;
  width: 100%;
  position: relative; 
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}
/*
.inner-footer {
  margin-top: -185px !important;
}
*/
.page-cnt {
	position: relative;
	z-index: 999;
	margin-top: -205px;
 
}

.bx_catalog_tile_category_title a, .bx_item_detail h1 span  {
	color: #472512;
}
.bx_catalog_tile_category_title, .bx_item_detail h1 span {
	font-family: AvenirNextW10-Heavy, sans-serif;
    font-size: 24px;
}
 p b {
	font-family: AvenirNextW10-Demi, sans-serif;
font-weight: normal;
 }
 h4, .h4 {
    margin: 30px 0 15px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: AvenirNextW10-Book, sans-serif;
	  font-size: 14px;
}

.bx_item_detail .item_current_price {
	margin-top: 0px;
	padding: 0;
	border-bottom: 0px solid #e6e6e6;
	background: transparent;
	color: #472512;
	font-family: AvenirNextW10-Book, sans-serif;  
	font-size: 24px;
}
.bx_item_detail .bx_item_title h1 {
	margin-top: 0;
}
.bx_item_detail .item_info_section {
	margin: 0 0 30px;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
}
.bx-breadcrumb {
	margin: 0px 0 20px;
}
.bx_item_detail .item_section_name_gray {
	font-size: 15px;
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.bx_item_detail .bx_item_description .bx_item_section_name_gray {
	font-size: 15px;
	font-family: 'AvenirNextW10-Book', sans-serif;
	margin-bottom: 15px;	
}
.bx_item_detail .item_price {
	margin-bottom: 30px;
}
.bx_item_detail .bx_item_description p{
	font-size: 15px;
	font-family: 'AvenirNextW10-Book', sans-serif;
	line-height: 25px;
}
.bx_item_detail.bx_yellow .bx_bt_button, .set_filter{
	text-shadow: none;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	height: 50px;
	vertical-align: middle;
	padding: 7px 25px;
    background: #e6d796;
}
.bx_item_detail.bx_yellow .bx_bt_button:hover, .set_filter:hover {
    background: #E0C964;
}
.bx_item_detail .item_buttons_counter_block {
	clear: both;
	display: block;
}
.item_buttons_counter_block .bx_big.bx_bt_button.bx_cart {
	margin-top: 30px;
	margin-right: 15px;
}
.popup-window-buttons .bx_item_detail.bx_yellow .bx_bt_button {
	padding: 12px 25px;
	line-height: 26px;
	margin: 10px 0;
}
.thanks_message_ {
    display: none;
z-index: 1100;
position: fixed;
top: 0;
left: 0;
height: 350px;
width: 500px;
right: 0;
bottom: 0;
margin: auto;
}
.popup-window {
	min-width: 300px;
}
.bx_item_detail .bx_item_detail_size .bx_item_section_name_gray {
    vertical-align: middle;
    font-size: 11px;
    line-height: 30px;
    font-size: 15px;
    font-family: 'AvenirNextW10-Book', sans-serif;
}
.popup-window-titlebar {
	text-align: center;
}
.bx_item_detail .bx_item_detail_size ul li {
    height: 40px;
}
.popup-window-content img {
  margin: 15px 0;
}
.bx_item_detail .bx_item_detail_size ul li .cnt {
    font-size: 14px;
    line-height: 25px;
    white-space: initial;
} 
.bx_size li {
    height: 55px !important;
}
.bx_size li .small{
    line-height: 50px !important;
}
footer {
    margin-top: 100px;
}
.bx_content_section .product-box.box-section {
    margin: 0 0 50px 0;
}

.bx_item_detail .bx_bt_button_type_2, .bx_item_detail .bx_small.bx_bt_button_type_2 {
	border: 1px solid #e6d796;
	background: #e6d796;
	color: #4e4e4e;
	text-shadow: 0 0px 0 #fff;
	font-size: 18px;
	padding: 7px;
	width: 30px;
}

.bx_item_detail .bx_bt_button_type_2:hover, .bx_item_detail .bx_small.bx_bt_button_type_2:hover
.bx_item_detail .transparent_input:hover {
	background: #E0C964;
	border: 1px solid #E0C964;
}
.item_buttons_counter_block a:nth-child(1) {
    border-radius: 3px 0px 0px 3px;  
}
.item_buttons_counter_block a:nth-child(3) {
    border-radius: 0px 3px 3px 0px;  
}
ul.dropdown-menu.ctlg_dd li {
  width: 33.33%;
  float: left;
}
ul.dropdown-menu.ctlg_dd {
  width: 700%;
  background-color: white;
  padding-top: 0px;
  margin-top: 6px;
}
.artnumber {
  padding: 10px 0px 0px 0px;
}
.bx_bigimages_imgcontainer .bx_bigimages_aligner {
  margin-top: 0;
}
.bx_bigimages_aligner {
  margin-top: 25%;
}
div#LOCATION_ORDER_PROP_6 select {
  display: block;
}
.bx_element label {
  width: 100%;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span.price {
  display: initial;
}

.prev_text_abs {
  position: absolute;
  top: 24%;
  left: 13%;
  right: 13%;
  bottom: 23%;
  overflow: hidden;
  text-align: center;
}
.frm_grp {
  padding: 5px 0px;
  font-weight: normal;
}
.login_input, .frm_grp input {
  width: 100%;
  padding: 5px;
}
.bx-auth-reg.main_reg {
  width: 60%;
  margin-top: 40px;
}
input#sendButton2 {
  float: right;
  width: 100%;
  margin-top: 20px;
}
.bx_item_list_slide.active.container {
  width: 100%;
}
.product-img img {
    max-height: 100%;
}
.product-img {
    height: 100%;
} 
.bx_filter .bx_filter_parameters_box_title {
	font-family: 'AvenirNextW10-Book', sans-serif;
}
.bx_item_detail .bx_item_slider_lupe_small {
	cursor: crosshair;
}
div.news-list img.preview_picture {
	border-radius: 10px;
	margin-right: 20px; 
}
.right_side_review {
  background-color: #eee;
  padding: 20px 40px;
  border-radius: 50px;
  position: relative;
}
.review_item {
	  margin-bottom: 30px;
	    padding-right: 15px;
}
.right_side_review:before {
	content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid #eee;
  border-bottom: 13px solid transparent;
  left: -12px;
  bottom: 40px;
}
.title_review {
		font-family: 'AvenirNextW10-Medium', sans-serif;
		font-size: 18px;
		margin-bottom: 15px;
}
.original {
		margin-top: 15px;
}
.original span {
	margin-right: 8px;
	color: #723110;
}
 div.news-list .left_side_review img.preview_picture {
	  margin-top: 50px;
	    border-radius: 50px;
}
.review_item .text_review {
  text-align: justify;
}
.bx_page p {
	text-align: justify;
}

.cnt_certs img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: url(/assets/svg/grayscale.svg);
	filter: gray;
}
.cnt_certs img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(/assets/svg/grayscale.svg);
	filter: gray;
}

.cnt_fancy {
  display: inline-block;
  margin: 0 6px 30px;
} 
.accordion-heading span {
	margin-right: 8px;
}
.accs_faq .accordion-toggle {
font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.accs_faq .accordion-inner {
  text-align: justify;
    line-height: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}
.accs_faq .accordion-heading.active .accordion-toggle {
	font-family: 'AvenirNextW10-Demi', sans-serif;
}
.bx_catalog_tile .bx_catalog_tile_ul li {
  width: 20%; 
}
.bx_catalog_tile .bx_catalog_tile_img {
  width: 100%;
    height: auto;
    min-height: 100px;
    min-width: 100px;
    max-height: 175px;
    max-width: 175px;
}
.bx_catalog_tile .bx_catalog_tile_title {
    line-height: 20px;
    height: 30px;
}
.bx_catalog_tile .bx_catalog_tile_title a {
  color: inherit;
  font-size: 18px;
  margin-top: 15px;
  display: block;
}
.set_filter {
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
.set_filter:hover {
    background: rgb(250,222,112);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,222,112,1) 0%, rgba(247,201,94,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,222,112,1)), color-stop(100%,rgba(247,201,94,1)));
    background: -webkit-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: -o-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: linear-gradient(to bottom, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fade70', endColorstr='#f7c95e',GradientType=0 );
	text-shadow: none;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    vertical-align: middle;
    padding: 7px 25px;
}
div#modef {
    display: none !important;
}
.bx_filter.bx_yellow .bx_filter_section {
    background: none;
    border: 0px;
    padding: 0 15px;
    padding-bottom: 20px;
}
.bx_filter .bx_filter_title {
    font-weight: normal;
    margin-bottom: 15px;
    padding: 0px 5px;
    text-shadow: 0 0px 0 #fff;
}
.bx_filter .bx_filter_param_label {
    font-size: 15px;
    font-weight: normal;
}

.modern-page-navigation span, .modern-page-navigation a {
	width: 40px;
	height: 20px;
	background: #e6d796;
	position: relative;
	text-align: center;
	display: inline-block;
	padding: 0px !important;
	margin-right: 8px !important;
    border-color: #e6d796;
}
div.modern-page-navigation a, span.modern-page-current, div.modern-page-navigation a.modern-page-previous, span.modern-page-dots {
    border-color: #e6d796;
}
.modern-page-navigation span:before, .modern-page-navigation a:before {
	content: "";
	position: absolute;
	top: -15px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 19px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #e6d796;
}
.modern-page-navigation span:after, .modern-page-navigation a:after {
	content: "";
	position: absolute;
	bottom: -15px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 19px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #e6d796;
} 
.modern-page-navigation span {
    background-color: #E0C964;
}
.modern-page-navigation span:before {
   border-bottom: 15px solid #E0C964;
  
}
.modern-page-navigation span:after {
    border-top: 15px solid #E0C964;
}
.modern-page-navigation a span   {
	  top: 2px;
}
 .modern-page-navigation a {
	 color: #2b2929;
 } 
 .modern-page-navigation a:hover {
	background: #E0C964;
	color: #fff;
} 
 .modern-page-navigation a:hover:before {
	border-bottom: 15px solid #E0C964;
}
.modern-page-navigation a:hover:after {
	border-top: 15px solid #E0C964;
}
.bigdata_recommended_products_container {
    margin: 80px 0 -180px;
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 40px;
}
div#toTop {
    position: fixed;
	right: 15px;
	bottom: 70px;
	z-index: 9999999;
	cursor: pointer;
}
    
    
#toTop .glyphicon {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-90deg);
	display: inline-block;
	padding-left: 8px;
	vertical-align: text-top;
	text-indent: 0px;
	background: #472512;
	color: #fff;
	padding: 11px;
	font-size: 20px;
	border-radius: 8px;
}
#toTop .glyphicon:hover {
    background-color: #c77405;
}
.main-arItem {
    margin-bottom: 30px;
}
.main-arItem a {
    font-size: 18px;
    font-family: 'AvenirNextW10-Heavy', sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}
.main-arItem p {
    text-align: justify;
}
.btn-search-page {
    position: relative;
    left: 0;
}
.search-query-page {
    width: 100%;
    border-color: #999;
}
.img-about {
    margin-top: 30px;
}
.img-about .col-lg-4 {
    overflow: hidden;
    height: 225px;
}
.bx_ordercart .bx_ordercart_order_pay_center span, .bx_ordercart .bx_ordercart_order_pay_center a {
    height: 50px;
    padding-top: 0;
}
.bx_ordercart .bx_sort_container a.current {
    background-color: #c58b00;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0px 0px 0 #3e3e3e;
    background: #c58b00;
    text-shadow: 0 0 0;
    color: 292929;
    height: 35px;
    line-height: 35px;
}
.bx_ordercart .bx_sort_container a.current:hover {
     background: rgb(250,222,112);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,222,112,1) 0%, rgba(247,201,94,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,222,112,1)), color-stop(100%,rgba(247,201,94,1)));
    background: -webkit-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: -o-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    background: linear-gradient(to bottom, rgba(250,222,112,1) 0%,rgba(247,201,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fade70', endColorstr='#f7c95e',GradientType=0 );
}
.bx_my_order .bx_my_order_table thead tr td {
    background: #E6D796;
    color: #4E4E4E;
}
.bx_my_order .bx_my_order_table thead tr td a{
    color: #4E4E4E;
    text-shadow: 0 0 0px;
}
.bx_my_order .bx_my_order_status.green {
    background: #fff;
    text-shadow: 0 0 0px;
}
.bx_my_order .bx_big.bx_bt_button_type_2 {
    text-shadow: 0 0 0px;
    background: rgba(250,222,112,1);
    border: none;
    color: #fff;
}
.bx_my_order_cancel input[type="submit"] {
    text-shadow: 0 0 0px;
    background: rgba(250,222,112,1);
    border: none;
}
.bx_my_order_cancel input[type="submit"]:hover {
    text-shadow: 0 0 0px;
    background: rgba(247,201,94,1) ;
    border: none;
    outline: none;
}
.bx_my_order .bx_my_order_status.yellow {
    background: #fff;
}
.bx_item_detail .transparent_input:focus {
    outline: none;
} 
.seo-text, .corner-footer {
    display: none;
}
th.pic_th {
    max-width: 100px;
}
.main-cnt {
    margin-bottom: 30px;
}
.product-box td {
    min-width: 80px;
}
.bx_cats_title {
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 21px;
}
ul.bx_sitemap_ul {
    list-style: none;
    padding-left: 20px;
}
ul.bx_sitemap_ul li {
    margin: 7px 0px;
}
.bx_sitemap .bx_sitemap_li_title a {
font-size: 14px;
}
.bx_filter.bx_yellow .bx_filter_search_button, .submit_reg_block .btn-success, .bx_ordercart_order_pay_center .btn-success, .bt_blue, #basket_toolbar_button, .bx_my_order .bx_big.bx_bt_button_type_2{
    background: #e6d796;
    color: #4e4e4e;
    border: 1px solid #e6d796;
    box-shadow: 0 0 0;
    padding: 25px;
    line-height: 0px;
    border-radius: 3px;
    font-size: 15px;
    text-shadow: 0px 0px 0px;
    font-weight: 300;
}
.bx_filter.bx_yellow .bx_filter_search_button:hover, .submit_reg_block .btn-success:hover, .bx_ordercart_order_pay_center .btn-success:hover, .bt_blue:hover, #basket_toolbar_button:hover, .bx_big.bx_bt_button_type_2:hover{
    background: #E0C964;
    outline: none;
}

.bx_sitemap .bx_sitemap_li_title a {
   color: #472512;
}
.bx_filter .bx_filter_search_reset {
    border: 1px solid #e6d796;
    padding: 25px;
    line-height: 0px;
    border-radius: 3px;
}
.bx_filter .bx_filter_search_reset:hover {
    border: 1px solid #E0C964;
}
.open_menu.active {
    -moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input {
    box-shadow: inset 0 0 0 0;
}
.bx_sitemap .bx_sitemap_li_title {
    margin-right: 5px;
}
.sr-only:hover {
    color: #e6d796;
}
.navbar-toggle:hover .icon-bar{
    background: #e6d796;
}
.glyphicon-menu-down {
    color: #999999;
    cursor: pointer;
}


#bx_auth_serv_formVKontakte:hover, #bx_auth_serv_formTwitter:hover, #bx_auth_serv_formFacebook:hover {
    opacity: 0.8;
}
.ui-selectmenu-menu.ui-front.ui-selectmenu-open {
    z-index: 999;
}
.ui-selectmenu-button {
    width: 250px !important;
    position: relative;
    top: 15px;
    margin-left: 15px;
} 
.news-date-time {
    display: none;
}
.product-box p {
    margin: -30px 0 30px;
}
.ui-selectmenu-button span.ui-selectmenu-text{
    border: 0px solid #e6d796;
    background: #fff;
    font-weight: 300;
    color: #586a6f;
    font-size: 15px;
}
.ui-selectmenu-button span.ui-icon {
    background: #fff;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #c77405;
    margin: -4px 6px 0px 0px;
    margin-top: -3px !important;
}
.ui-state-focus {
    font-weight: 300 !important;
    background: #fff;
    font-size: 15px;
}
.ui-state-focus, .ui-widget-content .ui-state-focus {
    background: #fff !important;
}
.ui-widget-content { 
    background: #fff !important;
    position: relative;
    font-size: 15px;
}
.ui-menu-item {
    font-size: 15px;
    font-weight: 300 !important;
}
.bx_sitemap .bx_sitemap_li_title a:hover {
    color: #c77405;
}
.bx_item_detail .transparent_input {
    border: 2px solid #e6d796;
    margin: -12px -3px -12px -4px;
    position: relative;
    top: -1px;
}
div.news-detail img.detail_picture {
    margin: 0px 20px 6px 1px;
}
.bx_item_detail{
    border-color: #E0C964;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.control a, .bx_my_order .bx_my_order_table td a {
    color: #472512;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.control a:hover, .bx_my_order .bx_my_order_table td a:hover {
    color: #c77405
}
.bx_sitemap .bx_sitemap_li_title a {
    white-space: inherit;
    line-height: 20px;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    font-size: 15px;
}
.table > tbody > tr > td .basket {
    margin: 0 auto;
    float: none;
    display: block;
    zoom: 0.6;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 15px;
}
.table > tbody > tr > td .basket:hover {
    opacity: 0.8;
}
.table-responsive {
    overflow-x: inherit;
}
.modal-content .form-inline .form-control {
    border: 1px solid #472512;
}
.form-inline .form-control {
    border: 1px solid #ccc;
}
.original a:hover {
    color: #c77405;
}
.addCartBtn {
    cursor: pointer;
}
.thanks_message_ {
    text-align: center;
}
.table-bordered > tbody > tr > th {
    vertical-align: middle;
}
.bx-basket bx-opener {
    font-size: 18px;
}
.bx_ordercart .bx_ordercart_order_sum tr td {
    font-size: 21px;
    line-height: 30px;
    text-shadow: 0 0 0;
}
.bx_order_make {
    font-size: 16px;
}
.bx_order_make .bx_description {
    font-size: 14px;
}
.cart {  
    font-size: 18px !important;
}
.bx_logotype span {
    background-size: contain;
}
.nav-pills > li > a {
    display: inline-block;
}
#review_form .form-group, #review_form .form-group input, #review_form .form-group textarea {
    width: 100% !important;
}
.w250.form-group.center_a {
text-align: center;
}
#review_form .w250.form-group textarea {
    height: 150px;
}
.thanks_message_ table.popup-window.popup-window-titlebar {
    width: 100%;
}
.popup-window-content > div > p {
margin-top: 0px;
}
div#popup-window-overlay-me {
    z-index: 999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.47);
}
.zoom {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 1000ms ease; 
    transition: all 1000ms ease; 
    top: 0;
    left: 0;
    background-color: #E0C964;
    opacity: 0;
}
.pic_th a {
    position: relative;
    display: block;
    	  -webkit-transition: all 1000ms ease; 
  transition: all 1000ms ease; 
}
.pic_th a .glyphicon-search {
    position: absolute;
        right: 0;
    bottom: 0;
    	  -webkit-transition: all 1000ms ease; 
  transition: all 1000ms ease; 
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    height: 15px;
    width: 15px;
    opacity: 0;
}
.pic_th a:hover .glyphicon-search {
    opacity: 1;
    
}
.pic_th a:hover .zoom {
    opacity: 0.7;
}
th.pic_th {
    min-width: 100px;
}
#login-modal{
    border: 1px solid #472512;
}
.bx_order_make .bx_logotype {
    padding: 8px !important;
}
a.bx_bt_button.to_pay {
    background-color: rgb(230, 215, 150);
    border-radius: 3px;
    color: rgb(78, 78, 78);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
}
.comment-item .owl-main-wrap {
    border-left: 0px solid #472512;
    border-right: 0px solid #472512;
    border-bottom: 0px solid #472512;
}
.grid2x1 .bx_sidebar {
    float: left;
    padding-right: 5%;
    padding-left: 0;
}
.bx_cats_title {
    padding-left: 0px;
}
ul.bx_sitemap_ul {
    padding-left: 0px
}
.bx_filter.bx_yellow .bx_filter_section {
    padding: 0 30px 0px 0px;
}
.bx_filter .bx_filter_title {
    padding: 0px;
}
.bx_filter .bx_filter_parameters_box {
    margin-bottom: 20px;
    padding: 0 0px;
}
.center_a .btn-success {
    background: #e6d796;
    color: #4E4E4E;
    border: none;
    text-shadow: 0 0 0;
}
.center_a .btn-success:hover {
    background: #E0C964;
    color: #4E4E4E;
}
.center_a .btn-success:active:focus {
    outline: none;
} 
.section_redirect {
    margin: -10px 0px 45px;
}
.zero_price {
    border-bottom: 1px dashed #472512;
    cursor: pointer;
    display: inline-block;
}
@media \0screen {
 .bx_item_detail .transparent_input {
     height: 36px;
     margin: -12px -6px -12px -5px
    }
    .bx_item_detail .bx_item_detail_size ul li .cnt {
        white-space: pre-line;
    }
}
.owl-main-wrap {
    border: 0;
}
.partners-box .title-section {
    margin-bottom: 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bx_item_detail .transparent_input {
        height: 36px;
        margin-right: -4px;
    }
    .bx_item_detail .bx_item_detail_size ul li .cnt {
        white-space: pre-line;
    }
    #toTop .glyphicon {
        -ms-transform: rotate(-90deg)
    }
    .news-item img {
        max-height: 170px;
        width: auto;
    }
    
}