@font-face {
   font-family: AvenirNextW10-Medium;
   src: url('../fonts/AvenirNextW10-Medium.otf');
   src: url('../fonts/AvenirNextW10-Medium.otf') format('truetype');
}

@font-face {
   font-family: AvenirNextW10-Light;
   src: url('../fonts/AvenirNextW10-Light.otf');
   src: url('../fonts/AvenirNextW10-Light.otf') format('truetype');
}

@font-face {
   font-family: AvenirNextW10-Book;
   src: url('../fonts/AvenirNextW10-Book.otf');
   src: url('../fonts/AvenirNextW10-Book.otf') format('truetype');
}

@font-face {
   font-family: AvenirNextW10-Heavy;
   src: url('../fonts/AvenirNextW10-Heavy.otf');
   src: url('../fonts/AvenirNextW10-Heavy.otf') format('truetype');
}

@font-face {
   font-family: AvenirNextW10-HeavyBold;
   src: url('../fonts/AvenirNextW10-HeavyBold.otf');
   src: url('../fonts/AvenirNextW10-HeavyBold.otf') format('truetype');
}

@font-face {
   font-family: AvenirNextW10-Demi;
   src: url('../fonts/AvenirNextW10-Demi.otf');
   src: url('../fonts/AvenirNextW10-Demi.otf') format('truetype');
}

@font-face {
   font-family: PT-Sans;
   src: url('../fonts/PT-sans.ttf');
}

@font-face {
   font-family: Izhitsa;
   src: url('../fonts/IzhitsaC.otf');
   src: url('../fonts/IzhitsaC.otf') format('truetype');
}

body {
   font-size: 15px;
   background: #fff;
   color: #39190a;
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.bg-site {
   background: url(../images/bg.jpg) repeat top left;
   width: 100%;
}

a {
   color: #844220;
}

a:hover {
   color: #723110;
   text-decoration: none;
}

a:focus {
   color: #8d3000;
   text-decoration: none;
}

h1 {
   border-bottom: 1px solid #ddd;
   margin-bottom: 30px;
   padding-bottom: 30px;
   font-size: 30px;
}


.contact-intro, .contacts {

   margin-bottom: 20px;
}

.contact-intro {
   font-weight: bold;
}

.navbar-header {
   width: 100%;
}

.navbar {
   margin-bottom: 0px;
}

.main-nav a {
   color: #fbfefe;
}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: transparent;
}

.main-nav .nav > li > a:hover, .main-nav .nav > li > a:focus {
   color: #fbe064
}

.navbar-right {
   margin-right: 0px;
}

.logo {
   background: url(../images/logo.png) no-repeat top left;
   width: 235px;
   height: 176px;
}

.title a {
   color: #39190a;
}

.title {
   font-family: 'AvenirNextW10-HeavyBold', sans-serif;
   font-size: 36px;
   margin: 22px 0 0;
   font-weight: 700;
}

.title span {
   display: block;
   font-family: 'AvenirNextW10-Demi', sans-serif;
   font-size: 18px;
}

.basket {
   background: url(../images/basket.png) no-repeat top left;
   width: 48px;
   height: 44px;
   float: left;
   margin-right: 30px;
}

.basket-sm {
   background: url(../images/basket-sm.png) no-repeat top left;
}

.keys, .lock {
   width: 27px;
   height: 27px;
   float: left;
   margin-right: 12px;
   position: relative;
   top: -3px
}

a:hover .keys, a:hover .lock {
   background-position: 0 -27px
}

p {
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.lock {
   background: url(../images/lock.png) no-repeat top left;
}

.keys {
   background: url(../images/keys.png) no-repeat top left;
}

.cart {
   font-family: 'AvenirNextW10-Demi', sans-serif;
   font-size: 18px;
   margin: 22px 0 0;
}

.cart span {
   font-family: 'AvenirNextW10-Heavy', sans-serif;
   display: block;
}

.board-commerce {
   margin-top: -190px;
   position: relative;
   z-index: 99;
}

.input-search-catalog {
   height: 60px;
   border: 0px;
   background: #fff;
   font-family: 'AvenirNextW10-Book', sans-serif;
   padding: 0 40px;
   outline-color: #39190a;
   border: 2px solid #39190a;
}

.btn-search {
   background: url(../images/btn-search.png) no-repeat top #39190a;
   width: 67px;
   height: 60px;
   border: 0;
   font-size: 0;
   position: absolute;
   margin: 1px;
   outline: 0px;
   right: 30px;
   padding: 11px;
   display: block;
}

.btn-search:hover, .btn-search:focus {
   background-position-y: -60px;
}

.tools-commerce {
   background: #39190a;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   min-height: 387px;;
}

.tools-commerce .nav > li > a:hover, .tools-commerce .nav > li > a:focus {
   color: #fbe064
}

.tools-commerce .navbar-toggle {
   display: block;
   float: none;
   padding: 15px 0px 0 30px;
   width: 100%;
   margin: 0;
}

.navbar-toggle .icon-bar {
   width: 25px;
   height: 3px;
   background: #fff;
   margin-bottom: 4px;
}

.sr-only {
   color: #fff;
   font-size: 18px;
   font-family: 'AvenirNextW10-Book', sans-serif;
   position: relative;
   float: right;
   width: 100%;
   height: auto;
}

.owl-theme .owl-controls {
   margin: 0px !important
}

.catalog_menu a {
   color: #fff;
}

.catalog_menu {
   font-family: 'AvenirNextW10-Book', sans-serif;
   padding: 10px 5px 10px 30px;
   border-right: 2px solid #000;
}

.bx_search_container {
   padding: 0px;
}

.owl-main-wrap {
   border-left: 2px solid #39190a;
   border-right: 2px solid #39190a;
   border-bottom: 2px solid #39190a;
}

.dropdown-menu {
   padding: 6px 0 0;
   border: 0px solid #ccc;
   background: #39190a;
   border-top: 8px solid #39190a;
   top: 84% !important;
}

.dropdown-menu li a {
   padding: 10px 15px;
   background: #fff;
}

.nav-commerce {
   background: #39190a;
   width: 100%;
   height: auto;
   padding-top: 15px;
   padding-bottom: 15px;
}

.nav-commerce a {
   font-family: 'AvenirNextW10-Book', sans-serif;
   color: #fbfefe;
}

.nav-commerce li span {
   display: block;
   padding: 10px 15px;
}

.nav-commerce li span:hover, .nav-commerce li span:focus {
   color: #fbe064;
}

/*
.wrap-slider-nav .col-lg-9 {
	padding-right:0px
}
.wrap-slider-nav .col-lg-3 {
	padding-left:0px
}
*/
.comments-box {
   min-height: 510px;
   padding: 80px 0;
   position: relative;
   z-index: 999;
}

.comments-box .row {
   position: relative;
}

.title-section {
   font-size: 24px;
   font-family: 'AvenirNextW10-Heavy', sans-serif;
   font-weight: 700;
}

.box-section {
   margin: 80px 0;
   z-index: 9999;
   position: relative;
}

.comment-item {
   padding: 80px 0 0;
}

.autor-comment {
   font-size: 18px;
   font-family: 'AvenirNextW10-Heavy', sans-serif;
   margin: 0 0 30px;
}

.text-comment {
   font-family: 'AvenirNextW10-Demi', sans-serif;
   text-align: justify;
   line-height: 30px;
}

.border-avatar img {
   border-radius: 50%;
   border: 5px solid #844220;
}

.seo-box {
   padding: 80px;
}

.welcome {
   font-size: 24px;
   font-family: 'AvenirNextW10-Heavy', sans-serif;
   margin-bottom: 35px;
   display: block;
}

.welcome span {
   font-family: 'AvenirNextW10-HeavyBold', sans-serif;
}

.seo-box p {
   font-family: 'AvenirNextW10-Book', sans-serif;
   text-align: justify;
   line-height: 30px;
}

.seo-box p span {
   font-family: 'AvenirNextW10-Heavy', sans-serif;
}

.btn-primary {
   color: #fff;
   font-family: 'AvenirNextW10-Demi', sans-serif;
   background-color: #844220;
   color: #fbfefe;
   border-color: #672300;
}

.btn-primary:hover, .btn-primary:focus {
   color: #fff;
   background-color: #672300;
   border-color: #421600;
}

.seo-box .btn-primary {
   font-size: 18px;
   padding: 15px 30px;
   float: right;
   margin-top: 15px;
}

.footer-box {
   min-height: 630px;
   margin-top: -340px;
   z-index: 9;
}

.legal {
   background: #39190a;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   font-family: 'AvenirNextW10-Book', sans-serif;
   min-height: 60px;
   color: #fbfefe;
   padding: 25px;
}

.best-product-box, .news-product-box {
   background: url(../images/product-box-bg.png) repeat-x top left;
   width: 100%;
   min-height: 350px;
}

.ico-title-section {
   margin-right: 15px;
   display: inline-block;
}

.ico-best {
   background: url(../images/ico-best.png) repeat-x top left;
   width: 46px;
   height: 66px;
   position: relative;
   top: 24px;
}

.ico-news {
   background: url(../images/ico-news.png) repeat-x top left;
   width: 54px;
   height: 54px;
   position: relative;
   top: 18px;
}

.product-cnt-bg {
   position: absolute;
   z-index: 999;
   right: 0;
   left: 0;
   margin: auto;
   display: block;
}

.product-img {
   position: relative;
   z-index: 9999;
}

.product-img img, .prev_text_abs {
   margin: 0 auto;
   padding: 25% 15%;
}

.product-price {
   font-size: 30px;
   color: #990000;
   text-align: center;
}

.product-title {
   font-size: 21px;
   text-align: center;
   font-family: 'AvenirNextW10-Medium', sans-serif;
   min-height: 55px;
   margin: 30px 0 15px 0;
}

.link-c {
   color: #39190a;
}

.price {
   font-family: 'PT-Sans', serif;
   font-weight: bold;
}

.corner-right {
   background: url(../images/corner-right.png) repeat-x top left;
   right: 5px;
   top: 0px;
}

.corner-left {
   background: url(../images/corner-left.png) repeat-x top left;
   left: 5px;
   top: 0px;
}

.corner-right-inner {
   background: url(../images/corner-right-inner.png) repeat-x top left;
   left: 0px;
   bottom: 0px;
}

.corner-left-inner {
   background: url(../images/corner-left-inner.png) repeat-x top left;
   right: 0px;
   bottom: 0px;
}

.corner-footer {
   display: block;
   width: 10px;
   height: 10px;
   position: absolute;
}

.bee-one {
   background: url(../images/bee-one.png) no-repeat top left;
   width: 140px;
   height: 121px;
   position: absolute;
   top: 10px;
   right: 0;
   z-index: 99;
}

.bee-two {
   background: url(../images/bee-two.png) repeat-x top left;
   width: 147px;
   height: 127px;
   position: absolute;
   top: -80px;
   right: 230px;
   z-index: 99;
}

.bee-box .row {
   position: relative;
}

.seo-text {
   background: #fff;
   height: 230px;
   width: 100%;
   position: relative;
}

.contact-footer {
   margin: 80px 0;
   line-height: 30px;
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.contact-footer .title-c {
   font-size: 18px;
   font-family: 'AvenirNextW10-Heavy', sans-serif;
   display: inline-block;
   margin-bottom: 30px;
   color: #39190a;
}

.dashed {
   border-bottom: 1px dashed #39190a;
   cursor: pointer;
}

.no-dashed {
   border-bottom: 0px dashed #39190a;
}

.contact-footer .dashed:hover {
   color: #000;
   text-decoration: none;
}

.splash {
   display: inline-block;
   background: url(../images/splash.png) repeat-x top left;
   width: 56px;
   height: 31px;
   margin-left: 15px;
   position: relative;
   top: 11px;
}

.text-splash {
   font-size: 12px;
   text-align: right;
   margin-right: 65px;
}

a:hover .splash {
   background-position: 0 -31px;
}

a:hover .social_btn {
   opacity: 0.8;
}

.social_btn {
   margin-right: 15px;
   float: left;
}

.seo-box .btn {
   position: relative;
   z-index: 999;
}

.modal {
   z-index: 104111110;
}

.modal-content {
   padding: 30px;
   background-color: #fbe258;
   border: 0px solid #999;
   border: 0px solid rgba(0, 0, 0, .2);
   -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
   box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
   text-align: center;
}

.modal-content .title-con {
   font-size: 24px;
   margin-bottom: 15px;
   font-family: 'AvenirNextW10-Heavy', sans-serif;
}

.modal-content .subtitle-con {
   margin-bottom: 30px;
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.form-inline .form-control {
   background: transparent;
   border: 2px solid #39190a;
   margin-bottom: 15px;
   height: 50px;
   width: 240px;
   text-align: center;
}

.form-inline input::-webkit-input-placeholder, .form-inline textarea::-webkit-input-placeholder {
   color: #39190a;
}

.form-inline input::-moz-placeholder, .form-inline textarea::-moz-placeholder {
   color: #39190a;
}

/* Firefox 19+ */
.form-inline input:-moz-placeholder, .form-inline textarea:-moz-placeholder {
   color: #39190a;
}

/* Firefox 18- */
.form-inline input:-ms-input-placeholder, .form-inline textarea:-ms-input-placeholder {
   color: #39190a;
}

.modal-body .form-inline input::-webkit-input-placeholder, .modal-body .form-inline textarea::-webkit-input-placeholder {
   font-size: 15px;
   color: #39190a;
}

.modal-body .form-inline input::-moz-placeholder, .modal-body .form-inline textarea::-moz-placeholder {
   font-size: 15px;
   color: #39190a;
}

/* Firefox 19+ */
.modal-body .form-inline input:-moz-placeholder, .modal-body .form-inline textarea:-moz-placeholder {
   font-size: 15px;
   color: #39190a;
}

/* Firefox 18- */
.modal-body .form-inline input:-ms-input-placeholder, .modal-body .form-inline textarea:-ms-input-placeholder {
   font-size: 15px;
   color: #39190a;
}

.form-inline input.error_input::-webkit-input-placeholder, .form-inline textarea.error_input::-webkit-input-placeholder {
   color: #900;
}

.form-inline input.error_input::-moz-placeholder, .form-inline textarea.error_input::-moz-placeholder {
   color: #900;
}

/* Firefox 19+ */
.form-inline input.error_input:-moz-placeholder, .form-inline textarea.error_input:-moz-placeholder {
   color: #900;
}

/* Firefox 18- */
.form-inline input.error_input:-ms-input-placeholder, .form-inline textarea.error_input:-ms-input-placeholder {
   color: #900;
}

div.bx-auth-service-form {
   border-bottom: 0px
}

#modal-login .hr_line {
   border-top: 1px solid #39190a;
}

.form-inline.frm .form-control {
   width: 100%;
   padding: 0 30px
}

#modal-login .neutral_link {
   line-height: 30px;
   font-family: 'AvenirNextW10-Book', sans-serif;
   font-weight: normal;
   text-shadow: 0px 0px 0px;
}

.close {
   opacity: 1;
   background: #39190a !important;
   width: 40px;
   height: 40px;
   position: absolute;
   right: -20px;
   top: -21px;
   border-radius: 50%;
   text-shadow: 0px 0px 0px;
   color: #fff;
   border: 5px solid #fbe258 !important;
}

.main-nav a:focus {
   outline: 0px;
}

.close:hover, .close:focus {
   color: #fbe258;
   opacity: 1;
   outline: 0px;
}

.form-inline.frm .btn {
   width: 100%;
   height: 50px;
}

.error_input {
   border: 2px solid #900 !important;
}

.btn-success {
   color: #fff;
   background-color: #39190a;
   border-color: #000;
}

.btn-success:hover, .btn-success:focus {
   background-color: #000;
   outline: 0;
   border-color: #39190a;
}

.w250 input, .w250 button {
   width: 240px;
   height: 50px;
}

.subscribe-box-form {
   background: #39190a;
   border: 2px solid #39190a;
   font-family: 'AvenirNextW10-Demi', sans-serif;
   font-size: 18px;
   min-height: 60px;
   border-radius: 10px;
   color: #fbfefe;
}

input.subscribe {
   border: 0px;
   background: #fff;
   font-size: 15px;
   border-radius: 0px;
   height: 56px;
}

.subscribe_btn:focus, .subscribe_btn:active {
   outline: 0px;
}

.subscribe_btn:hover {
   background: transparent;
   color: #fbe258;
}

.subscribe_btn {
   font-size: 18px;
   color: #fbfefe;
   border: 0px;
   height: 56px;
}

.subscribe-box-form span {
   padding: 14px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   display: block;
}

.modal-content iframe {
   width: 100%;
}

.dropdown:hover > .dropdown-menu {
   display: block;
}

span.howa {
   color: #FBFEFE;
   cursor: pointer;
   font-family: AvenirNextW10-Book, sans-serif;
   font-size: 15px;
}

a.bx-ss-button.vkontakte-button {
   background-image: url('../images/vk.png') !important;
}

a.bx-ss-button.twitter-button {
   background-image: url('../images/twitter.png') !important;
}

a.bx-ss-button.facebook-button {
   background-image: url('../images/facebook.png') !important;
}

a.bx-ss-button.vkontakte-button, a.bx-ss-button.facebook-button, a.bx-ss-button.twitter-button {
   background-position-y: 0px !important;
   width: 50px !important;
   height: 45px !important;
}

div#bx_auth_serv_formVKontakte span, div#bx_auth_serv_formTwitter span, div#bx_auth_serv_formFacebook span {
   display: none;
}

div.bx-auth-service-form {
   background-color: rgb(251, 226, 88);
   display: inline-flex;
}

div#collapseCats {
   width: 848px;
   height: 336px;
   position: absolute;
   overflow: hidden;
}

.catalog_ul {
   transform: translate3d(0px, 0px, 0px);
   -webkit-transition: all 1000ms ease;
   transition: all 1000ms ease;
   -webkit-transform: translate3d(0px, 0px, 0px);
   transform: translate3d(0px, 0px, 0px);
}

.catalog_ul li {
   width: 33.33%;
}

.catalog_ul li a {
   font-size: 14px;
   padding: 15px 10px;
}

.bx_search_container form {
   display: inline;
}

#collapseCats.catalog_menu {
   margin-left: 0;
}

.main-cnt-inner {
   background: #fff;
   position: absolute;
   z-index: 9;
   height: 230px;
   width: 100%;
   position: relative;
   margin-top: -190px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
   background-color: transparent;
}

.inner-footer {
   margin-top: -185px;
}

.page-cnt {
   position: relative;
   z-index: 999;
   margin-top: -205px;
   padding: 0 30px;
}

.bx_catalog_tile_category_title a, .bx_item_detail h1 span {
   color: #39190a;
}

.bx_catalog_tile_category_title, .bx_item_detail h1 span {
   font-family: AvenirNextW10-Heavy, sans-serif;
   font-size: 24px;
}

.bx-breadcrumb .bx-breadcrumb-item span {
   font-family: AvenirNextW10-Book, sans-serif;
   font-size: 14px;
}

.bx_item_detail .item_current_price {
   margin-top: 0px;
   padding: 0;
   border-bottom: 0px solid #e6e6e6;
   background: transparent;
   color: #39190a;
   font-family: AvenirNextW10-Book, sans-serif;
   font-size: 24px;
}

.bx_item_detail .bx_item_title h1 {
   margin-top: 0;
}

.bx_item_detail .item_info_section {
   margin: 0 0 30px;
   padding: 0;
   font-size: 15px;
   line-height: 30px;
}

.bx-breadcrumb {
   margin: 0px 0 20px;
}

.bx_item_detail .item_section_name_gray {
   font-size: 15px;
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.bx_item_detail .bx_item_description .bx_item_section_name_gray {
   font-size: 15px;
   font-family: 'AvenirNextW10-Book', sans-serif;
   margin-bottom: 15px;
}

.bx_item_detail .item_price {
   margin-bottom: 30px;
}

.bx_item_detail .bx_item_description p {
   font-size: 15px;
   font-family: 'AvenirNextW10-Book', sans-serif;
   line-height: 25px;
}

.bx_item_detail.bx_yellow .bx_bt_button, .set_filter {
   background: #fbe064;
   text-shadow: none;
   display: inline-block;
   border-radius: 3px;
   text-align: center;
   text-decoration: none;
   font-size: 15px;
   cursor: pointer;
   height: 50px;
   vertical-align: middle;
   padding: 7px 25px;
}

.bx_item_detail .item_buttons_counter_block {
   clear: both;
   display: block;
}

.item_buttons_counter_block .bx_big.bx_bt_button.bx_cart {
   margin-top: 30px;
   margin-right: 15px;
}

.popup-window-buttons .bx_item_detail.bx_yellow .bx_bt_button {
   padding: 12px 25px;
   margin: 10px 0;
}

.popup-window {
   min-width: 300px;
}

.popup-window-titlebar {
   text-align: center;
}

.popup-window-content img {
   margin: 15px 0;
}

.bx_item_detail .bx_bt_button_type_2, .bx_item_detail .bx_small.bx_bt_button_type_2 {
   border: 1px solid #fbe064;
   background: #fbe064;
   color: #39190a;
   text-shadow: 0 0px 0 #fff;
   font-size: 18px;
   padding: 7px;
   width: 30px;
}

.bx_item_detail .transparent_input {
   border: 1px solid #fbe064;
   height: 36px;
   margin: -1px -6px 0;
   border-radius: 0;
   position: relative;
   top: -1;
}

ul.dropdown-menu.ctlg_dd li {
   width: 33.33%;
   float: left;
}

ul.dropdown-menu.ctlg_dd {
   width: 700%;
   background-color: white;
   padding-top: 0px;
   margin-top: 6px;
}

.artnumber {
   padding: 10px 0px 0px 0px;
}

.bx_bigimages_imgcontainer .bx_bigimages_aligner {
   margin-top: 0;
}

.bx_bigimages_aligner {
   margin-top: 25%;
}

div#LOCATION_ORDER_PROP_6 select {
   display: block;
}

.bx_element label {
   width: 100%;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span.price {
   display: initial;
}

.prev_text_abs {
   position: absolute;
   top: 24%;
   left: 13%;
   right: 13%;
   bottom: 23%;
   overflow: hidden;
   text-align: center;
}

.frm_grp {
   padding: 5px 0px;
   font-weight: normal;
}

.login_input, .frm_grp input {
   width: 100%;
   padding: 5px;
}

.bx-auth-reg.main_reg {
   width: 60%;
   margin-top: 40px;
}

input#sendButton2 {
   float: right;
   width: 100%;
   margin-top: 20px;
}

.bx_item_list_slide.active.container {
   width: 100%;
}

.product-img img {
   max-height: 100%;
}

.product-img {
   height: 100%;
}

.product-cnt {
   min-height: 481px;
}

.bx_filter .bx_filter_parameters_box_title {
   font-family: 'AvenirNextW10-Book', sans-serif;
}

.bx_item_detail .bx_item_slider_lupe_small {
   cursor: crosshair;
}

div.news-list img.preview_picture {
   border-radius: 10px;
   margin-right: 20px;
}

.right_side_review {
   background-color: #eee;
   padding: 20px 40px;
   border-radius: 50px;
   position: relative;
}

.review_item {
   margin-bottom: 30px;
   padding-right: 15px;
}

.right_side_review:before {
   content: "";
   width: 0;
   height: 0;
   position: absolute;
   border-top: 13px solid transparent;
   border-right: 26px solid #eee;
   border-bottom: 13px solid transparent;
   left: -17px;
   bottom: 40px;
}

.title_review {
   font-family: 'AvenirNextW10-Medium', sans-serif;
   font-size: 18px;
   margin-bottom: 15px;
}

.original {
   margin-top: 15px;
}

.original span {
   margin-right: 8px;
   color: #723110;
}

div.news-list .left_side_review img.preview_picture {
   margin-top: 50px;
   border-radius: 50px;
}

.review_item .text_review {
   text-align: justify;
}

.bx_page p {
   text-align: justify;
}

.cnt_certs img:hover {
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   -ms-filter: grayscale(0%);
   -o-filter: grayscale(0%);
   filter: grayscale(0%);
   filter: url(/assets/svg/grayscale.svg);
   filter: gray;
}

.cnt_certs img {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: url(/assets/svg/grayscale.svg);
   filter: gray;
}

.cnt_fancy {
   display: inline-block;
   margin: 0 6px 30px;
}

.accordion-heading span {
   margin-right: 8px;
}

.accs_faq .accordion-toggle {
   font-size: 18px;
   margin-bottom: 15px;
   display: block;
}

.accs_faq .accordion-inner {
   text-align: justify;
   line-height: 30px;
   margin-bottom: 30px;
   padding-left: 30px;
}

.accs_faq .accordion-heading.active .accordion-toggle {
   font-family: 'AvenirNextW10-Demi', sans-serif;
}

.bx_catalog_tile .bx_catalog_tile_ul li {
   width: 20%;
}

.bx_catalog_tile .bx_catalog_tile_img {
   width: 175px;
   height: 175px;
}

.bx_catalog_tile .bx_catalog_tile_title a {
   color: inherit;
   font-size: 18px;
   margin-top: 15px;
   display: block;
}

.set_filter {
   font-weight: bold;
   border: none;
   border-radius: 3px;
}

.set_filter:hover {
   background: rgb(250, 222, 112);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, rgba(250, 222, 112, 1) 0%, rgba(247, 201, 94, 1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(250, 222, 112, 1)), color-stop(100%, rgba(247, 201, 94, 1)));
   background: -webkit-linear-gradient(top, rgba(250, 222, 112, 1) 0%, rgba(247, 201, 94, 1) 100%);
   background: -o-linear-gradient(top, rgba(250, 222, 112, 1) 0%, rgba(247, 201, 94, 1) 100%);
   background: -ms-linear-gradient(top, rgba(250, 222, 112, 1) 0%, rgba(247, 201, 94, 1) 100%);
   background: linear-gradient(to bottom, rgba(250, 222, 112, 1) 0%, rgba(247, 201, 94, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fade70', endColorstr='#f7c95e', GradientType=0);
   text-shadow: none;
   display: inline-block;
   border-radius: 3px;
   text-align: center;
   text-decoration: none;
   font-size: 15px;
   cursor: pointer;
   height: 50px;
   vertical-align: middle;
   padding: 7px 25px;
}

div#modef {
   display: none !important;
}

.bx_filter.bx_yellow .bx_filter_section {
   background: none;
   border: 0px;
   border-bottom: 1px solid #ccc;
   padding: 0 15px;
   padding-bottom: 20px;
}

.bx_filter .bx_filter_title {
   font-weight: normal;
   margin-bottom: 15px;
   padding: 0px;
   text-shadow: 0 0px 0 #fff;
}

.bx_filter .bx_filter_param_label {
   font-size: 15px;
   font-weight: normal;
}

.modern-page-navigation span, .modern-page-navigation a {
   width: 40px;
   height: 20px;
   background: #fbe064;
   position: relative;
   text-align: center;
   display: inline-block;
   padding: 0px !important;
   margin-right: 8px !important;
}

.modern-page-navigation span:before, .modern-page-navigation a:before {
   content: "";
   position: absolute;
   top: -15px;
   left: 0;
   width: 0;
   height: 0;
   border-left: 19px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 15px solid #fbe064;
}

.modern-page-navigation span:after, .modern-page-navigation a:after {
   content: "";
   position: absolute;
   bottom: -15px;
   left: 0;
   width: 0;
   height: 0;
   border-left: 19px solid transparent;
   border-right: 20px solid transparent;
   border-top: 15px solid #fbe064;
}

.modern-page-navigation a span {
   top: 2px;
}

.modern-page-navigation a:hover {
   background: #000;
   color: #fff;
}

.modern-page-navigation a:hover:before {
   border-bottom: 15px solid #000;
}

.modern-page-navigation a:hover:after {
   border-top: 15px solid #000;
}

.bigdata_recommended_products_container {
   margin: 80px 0 -180px;
   display: block;
   border-top: 1px solid #ccc;
   padding-top: 40px;
}

div#toTop {
   position: fixed;
   right: 15px;
   bottom: 70px;
   z-index: 9999999;
   cursor: pointer;
}

#toTop .glyphicon {
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   -o-transform: rotate(-90deg);
   display: inline-block;
   padding-left: 8px;
   vertical-align: text-top;
   text-indent: 0px;
   background: #39190a;
   color: #fff;
   padding: 11px;
   font-size: 20px;
   border-radius: 8px;
}
