@media screen and (max-width: 767px) and  (max-width: 419px) {
	.product-img img, .prev_text_abs  {
		padding: 15% 23% 42% 23%;
	}
    .page-cnt h1 {
        text-align: center;
    }
    div#toTop {
        display: none;
    }
}

@media (min-width: 420px) and  (max-width: 599px) {
	.product-img img, .prev_text_abs {
		padding: 12% 0% 33% 0%;
	}
}
@media (min-width: 600px) and  (max-width: 767px) {
	.product-img img, .prev_text_abs {
		padding: 8% 0% 23% 0%;
	}
}

@media screen and (max-width: 767px) {
    .bx_item_detail.bx_yellow .bx_item_detail_size ul li .cnt {
        border: 1px solid #beac33;
        font-size: 12px !important;
    }
    .bx_item_detail .bx_item_detail_size .bx_size {
        width: 290px;
    }
    .bx_item_detail .bx_item_detail_size.full .bx_slide_left, .bx_item_detail .bx_item_detail_size.full .bx_slide_right {
        left: 282px;
    }
    #bx_117848907_3239_prop_46_list li {
        width: 30% !important;
    }
    .bx_item_detail .bx_item_title h1 {
        margin: 30px 0 30px 0;
    }
    .bx_item_title h1 {
        text-align: left;
    }
    .bx_item_detail .bx_item_description p {
        text-align: justify;
    }
    .bx_sitemap_ul ul {
        padding: 0px;
        list-style: none;
        font-size: 13px;
    }
    .modal-dialog iframe {
        width: 100% !important;
    }
    .bx-touch .bx_item_detail .item_info_section .bx_item_description {
        text-align: left;
    }
    .bx_item_detail .transparent_input {
        margin: -12px -4px -12px -4px;
    }
    .bx_item_detail .item_info_section dl dd {
        float: none;
        margin-bottom: 20px;
    }
    .bx_item_detail .item_info_section dl dd {
        margin: 0px;
    }
    .bx_item_detail .item_info_section dl dt {
        float: none;
        margin-bottom: 10px;
    }
    .bx_item_detail.bx_yellow .bx_bt_button, .set_filter {
        width: 100%;
    }
    .product-item {
        margin-bottom: 30px;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 30px;
    }
    .product-box p {
        margin: -30px 0 50px;
    }
    .ui-selectmenu-button {
        width: 246px !important;
        margin-left: 0px;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .bx-auth-reg.main_reg {
        width: inherit;
    }
    .bx_content_section .product-title {
		min-height: inherit;
	}
	.bx_content_section .product-item {
		height: inherit;
	}
	.bx_filter .bx_filter_title {
		text-align: center;
	}
	.bx_content_section .product-box.box-section {
		text-align: center;
	}
	.bx_cats_title {
     padding-left: 0px;
	}
	ul.bx_sitemap_ul {
		padding-left: 0px;
		text-align: center;
	}
	div.news-detail img.detail_picture {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		border-radius: 10px;
	}
	accs_faq .accordion-inner {
		padding-left: 0px;
	}
	.product-title {
		margin: 30px 0 5px 0;
	}
	.comment-item img {
        zoom: 0.3;
        display: block;
        margin: 0 auto;
        float: none !important;
    }
	.basket-sm {
		zoom: 0.8;
		margin: 3px 5px 0 10px;
	}
    .product-img img, .prev_text_abs {
        padding: 5% 25% 30% 25%;
    }
	.header.inheader {
		height: 360px;
		min-height: inherit;
	}
	.main-arItem a {
		text-align: center;
		display: block;
		margin: 15px 0 0;
	}
	.title {
		font-size: 31px;
		text-align: center;
		margin: 0;
	}
	.main-nav {
		margin-bottom: 30px;
	}
    .bx_filter.bx_yellow .bx_filter_search_button, .submit_reg_block .btn-success, .bx_ordercart_order_pay_center .btn-success, .bt_blue, #basket_toolbar_button, .bx_my_order .bx_big.bx_bt_button_type_2 {
        width: 100%;
    }
    .bx_filter .bx_filter_search_reset {
         width: 100%;
    }

    .w250 input, .w250 button {
        width: 100%;
        height: 50px;
    }
    .bx_cats_title {
        text-align: center;
    }
    .right_side_review:before {
        display: none;
    }
    .title_review {
        text-align: center;
    }
    .review_item img {
        zoom: 0.4;
        margin: 0 auto 30px !important;
        display: block;
        float: none !important;
    }
    .right_side_review {
        padding: 25px;
    }
    .review_item {
        padding-right: 15px;
        padding-left: 15px;
    }
    .catalog_menu {
    border-right: 0px solid #562E18;
}
	.text-center-sm {
		text-align: center;
        margin-top: 50px;
	}
	.entity-center {
		margin-left: auto;
		margin-right: auto;
	}
	.seo-box {
		padding: 30px;
		text-align: center;
	}
	.contact-footer p {
		margin: 0 0 30px;
	}
	.contact-footer .title-c {
		margin-bottom: 15px;
	}
	.social_btn {
		float: none;
		display: inline-block;
		margin: 0 auto;
		padding: 0 10px;
	}
	.text-splash {
		text-align: center;
		width: 100%;
		margin: 30px 0;
	}
	.subscribe-box-form {
		border-radius: 0px;
	}
	.cart.navbar-right {
		margin: 6px 13px;
	}
	.navbar-header .navbar-toggle {
		max-width: 200px;
		width: 100%;
	}
	.sr-only {
		float: left;
	}
	.logo {
		margin-left: auto;
		margin-top: 15px;
	}
	.board-commerce {
		top: -105px;
	}
    .best-box {
		margin-top: -105px;
	}
	.tools-commerce .navbar-toggle {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.btn-search {
		right: 15px;
	}
	.btn-white-xs {
		background: #000;
		margin-top:30px;
		width: 100%;
		border-radius: 0px;
		margin-bottom:30px;
	}
	.subscribe-box-form  span {
		padding: 10px 0;
	}

      .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        float: none;
        padding: 0;
        margin: 0;
        font-size: inherit;
        text-align: center;
        background-color: transparent;
        border: 0px solid #ccc;
        border: 0px solid rgba(0, 0, 0, .15);
        border-radius: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
        box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    }
    .dropdown-menu li a {
        padding: 10px 15px;
        background: transparent;
        color: #fff;
    }
		ul.dropdown-menu.ctlg_dd {
		width: 100%;
	}
	.main-nav .navbar-nav > li {
		clear: both;
	}
	.dropdown-menu li a {
		padding: 10px 15px;
		color: #fff;
		display: block;
		margin-left: -16px;
		margin-right: -16px;
		background-color: #561e04
	}
	ul.dropdown-menu.ctlg_dd li:last-child {
		width: 100%;
		float: left;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #561e04;
		color: #fbe064;
	}
	.navbar-right {
		margin: inherit;
	}
	nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 10px 15px !important;
	}
	ul.dropdown-menu.ctlg_dd li {
		width: 100%;
	}
    .main-cnt-inner {
    margin-top: -110px;
    }
    .bx-breadcrumb {
    margin: 0px 0 20px;
    display: none;
    }
    .corner-left, .corner-right {
         display: none;
    }
    .product-img {
        top: 40px;
    }
    .bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price {
    font-size: inherit;
    }
    .bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td {
    padding: 10px 15px;
    }
    .bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price {
        padding-top: 10px;
    }
    .custom .centered {
        display: inline-block;
        padding-top: 5px;
    }
    .bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.custom span {
         vertical-align: top;
    }
    .bx_ordercart_order_table_container .custom div {
        display: inline-block;
        padding-top: 2px;
    }
    .bx_ordercart .bx_ordercart_photo_container {
        min-width: 110px;
        border: 0px solid #c0cfda;
    }
    .bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr {
        padding: 10px 0;
    }
    .btn {
        height: 20px;
        padding: 0 15px;
    }
    .footer-box {
		min-height: 630px;
		max-height: inherit;
	}
    footer {
    margin-top: 50px;
    }
    #toTop {
        display: none !important;
    }
	.contact-footer {
        margin: 30px 0;
    }
    .navbar-toggle.visible-sm.visible-xs .sr-only {
    margin-left: -15px;
    }
    input#title-search-input {
        width: 225px;
        margin-left: 15px;
    }
     .tools-commerce .navbar-toggle {
        padding: 15px 0px 10px 10px;
    }
    .comment-item {
    padding: 20px 0 0;
    }
    .autor-comment {
    margin: 30px 0 30px;
    }
    .subscribe-box-form .btn-success {
        background-color: #39190A;
        border-color: #39190A;
        color: #fff;
        border-radius: 3px;
        height: 60px;
    }
    .subscribe-box-form .btn-success:hover {
        background: #2B1307;
    }
    .main-cnt-inner {
        margin-top: inherit;
    }
    h1 {
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        padding-bottom: 10px;
        font-size: 30px;
    }
    .fancybox-effects-a {
        text-align: center;
        display: block;
    }
    .cnt_fancy {
        display: block;
        margin: 0 auto 30px;
    }
}

@media (min-width: 768px)  {
	.margin-bottom-sm {
		margin-bottom: 30px;
	}
	.text-center-sm {
		text-align: center;
	}
	.text-splash {
		text-align: center;
	}
	.product-img img, .prev_text_abs  {
		/* padding: 24% 27%; */
		padding: 20% 27% 8% 27%;
	}
	.contact-footer p {
		margin: 0 0 80px;
	}
	.social_btn {
		float: none;
		display: inline-block;
		margin: 0 auto;
		padding: 0 10px;
	}
	.entity-margin-top-bottom {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.collapse.in {
		display: block !important;
	}
	.collapse {
		display: none !important;
	}
	.main-nav .navbar-nav > li {
		float: none;
	}
	.main-nav .navbar-nav {
		float: none;
	}
	.main-nav .navbar-right {
		margin: 0px !important;
		float: none !important;
	}
	.navbar-header .navbar-right {
		float: right !important;
	}
	.cart {
		color: #fbfefe;
		font-size: 15px;
		line-height: 25px;
		width: 265px;
		padding: 4px;
		font-family: 'AvenirNextW10-Book', sans-serif;
	}
	.cart span {
		font-family: 'AvenirNextW10-Book', sans-serif;
	}
	.navbar-header .navbar-toggle {
		max-width: 200px;
		width: 100%;
		padding-left: 10px;
	}
	.sr-only {
		float: left;
	}
}

@media (min-width: 768px) and  (max-width: 991px) {
      .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        float: none;
        padding: 0;
        margin: 0;
        font-size: inherit;
        text-align: center;
        background-color: transparent;
        border: 0px solid #ccc;
        border: 0px solid rgba(0, 0, 0, .15);
        border-radius: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
        box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    }
    #toTop {
        display: none !important;
    }
    .dropdown-menu li a {
        padding: 10px 15px;
        background: transparent;
        color: #fff;
    }
		ul.dropdown-menu.ctlg_dd {
		width: 100%;
	}
	.main-nav .navbar-nav > li {
		clear: both;
	}
	.dropdown-menu li a {
		padding: 10px 15px;
		color: #fff;
		display: block;
		margin-left: -16px;
		margin-right: -16px;
		background-color: #561e04
	}
	ul.dropdown-menu.ctlg_dd li:last-child {
		width: 100%;
		float: left;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #561e04;
		color: #fbe064;
	}
	.footer-box {
		min-height: inherit;
		height: auto;
	}
    .bx_my_order .bx_big.bx_bt_button_type_2 {
        min-width: 180px !important;
    }
    .img-about {
        margin-top: 30px;
        overflow: hidden;
        height: 145px;
        }
    .bx_item_list_you_looked_horizontal .bx_item_list_section .bx_item_list_slide {
        margin-bottom: 100px;
    }

    footer {
        margin-top: 0px;
    }
    .seo-box {
        padding: 40px 15px 0px 15px;
    }
    .welcome {
        font-size: 20px;
    }
    .tools-commerce .navbar-toggle {
        padding: 15px 0px 0 10px;
    }
    .bee-one {
        top: -18px;
    }
    .product-title {
        font-size: 17px;
    }
        .bx_item_detail .bx_item_detail_size .bx_size {
        width: 395px;
    }
    .bx_item_detail .bx_item_detail_size.full .bx_slide_left, .bx_item_detail .bx_item_detail_size.full .bx_slide_right {
        left: 385px;
    }
}
@media (min-width: 992px) and  (max-width: 1199px) {
	.nav > li > a {
		padding: 10px 14px;
	}
    .lock {
        display: none;
    }
    .keys {
        display: none;
    }
    .tools-commerce {
        min-height: inherit;
    }
    div#collapseCats {
        min-height: inherit !important;
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
	.footer-box {
		min-height: inherit;
		height: auto;
	}
	.text-center-sm {
		text-align: left;
	}
	.text-splash {
		text-align: right;
	}
	.product-img img, .prev_text_abs  {
		/* padding: 25% 15%; */
		padding: 23% 15% 21% 15%;
	}
	.contact-footer p {
		margin: 0 0 10px;
	}
	.social_btn {
		margin-right: 15px;
		float: left;
		padding: 0px;
	}
	.entity-margin-top-bottom {
		margin-top: inherit;
		margin-bottom: inherit;
	}
	.navbar-collapse.collapse {
		display: block !important;
	}
	.main-nav .navbar-nav > li {
		float: left;
	}
	.main-nav .navbar-nav {
		float: left;
	}
	.main-nav .navbar-right {
		margin: inherit;
		float: right !important;
	}
	.cart {
		color: #39190A;
		font-size: 20px;
		width: 300px;
		padding: 0px;
	}
	.cart {
		font-family: 'AvenirNextW10-Demi', sans-serif;
	}
	.cart span {
		font-family: 'AvenirNextW10-Heavy', sans-serif;
	}
	.btn-search {
		right: 20px;
	}
    .sr-only {
        display: block;
        padding-left: 25px;
    }
    .bx_my_order .bx_big.bx_bt_button_type_2 {
        padding: 17px;
    }
    .img-about {
        margin-top: 30px;
        overflow: hidden;
        height: 195px;
    }
    .title {
    margin: 22px 35px 0;
    }
}

@media (min-width: 1200px) {

}
.cart span.price {
  font-family: 'PT-Sans', serif;
  font-weight: bold;
  display: inline;
}
/*
.crazy_stupid_block{
	padding: 0 !important;
}
*/
